/**
* Site switcher component
* @define site-switcher
*/

// Import base
@import '@ecl/ec-base/ec-base';

// Check if overridden dependencies are already loaded, if needed
@include check-imports(('ec-layout-grid', 'ec-component-link'));

@mixin ecl-site-switcher() {
  .ecl-site-switcher {
    @include ecl-hidden-print();

    background-color: $ecl-color-grey-5;
    display: block;
    font: $ecl-font-m;
    margin: 0;
  }

  .ecl-site-switcher__link {
    display: block;
    font: $ecl-font-m;
    font-weight: $ecl-font-weight-bold;
    padding: $ecl-spacing-s $ecl-spacing-m;
    text-decoration: none;

    &::after,
    &--is-external::after {
      content: none;
    }

    &:hover,
    &:focus {
      color: $ecl-color-grey-100;
      outline-offset: -3px;
      text-decoration: underline;
    }
  }

  .ecl-site-switcher__container {
    @include ecl-media-breakpoint-down(sm) {
      max-width: 100%;
      padding: 0;
      width: 100%;
    }
  }

  .ecl-site-switcher__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .ecl-site-switcher__option {
    display: inline-block;
    flex-grow: 1;
    text-align: center;
    vertical-align: middle;
  }

  .ecl-site-switcher__option--is-selected {
    background-color: $ecl-color-primary;

    .ecl-site-switcher__link {
      color: $ecl-color-white-100;
    }
  }

  .ecl-site-switcher--footer .ecl-site-switcher__option,
  .ecl-site-switcher--header .ecl-site-switcher__option {
    position: relative;

    &--is-selected::after {
      border: $ecl-spacing-xs solid transparent;
      content: ' ';
      height: 0;
      left: 50%;
      margin-left: -$ecl-spacing-xs;
      pointer-events: none;
      position: absolute;
      width: 0;
    }
  }

  .ecl-site-switcher--header .ecl-site-switcher__option {
    &--is-selected::after {
      border-top-color: $ecl-color-primary;
    }
  }

  .ecl-site-switcher--footer .ecl-site-switcher__option {
    &--is-selected::after {
      border-bottom-color: $ecl-color-primary;
    }
  }

  /* stylelint-disable-next-line order/order */
  @include ecl-media-breakpoint-up(md) {
    .ecl-site-switcher__option {
      flex-grow: 0;
    }

    .ecl-site-switcher--footer {
      .ecl-site-switcher__list {
        justify-content: flex-end;
      }
    }
  }
}

// Use mixin
@include exports('ec-component-site-switcher') {
  @include ecl-site-switcher();
}
