/**
 * Button component
 * @define button
 */

// Import base
@import '@ecl/eu-base/eu-base';

@include check-imports(('eu-component-icon'));

@mixin ecl-button(
  $border-width: 2px,
  $outline-width: 3px,
  $padding-horizontal: $ecl-spacing-s,
  $padding-vertical: $ecl-spacing-m
) {
  .ecl-button {
    background: none;
    border-width: 0;
    box-sizing: border-box;
    font: $ecl-font-m;
    font-weight: $ecl-font-weight-bold;
    margin: 0;
    padding: $padding-horizontal $padding-vertical;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }

    &:focus {
      outline: $outline-width solid $ecl-color-secondary;
      outline-offset: -($outline-width);
    }

    &[disabled],
    &[disabled]:hover {
      cursor: not-allowed;
      text-decoration: none;
    }
  }

  .ecl-button__container {
    align-items: center;
    display: flex;
  }

  .ecl-button__icon--before,
  .ecl-button__icon + .ecl-button__label {
    margin-right: $ecl-spacing-xs;
  }

  .ecl-button__icon--after,
  .ecl-button__label + .ecl-button__icon {
    margin-left: $ecl-spacing-xs;
  }

  /*
   * Primary
   */
  .ecl-button--primary {
    background-color: $ecl-color-primary;
    color: #fff;

    &:hover,
    &:active {
      background-color: #fff;
      border: $border-width solid $ecl-color-primary;
      color: $ecl-color-primary;
      padding: calc(#{$padding-horizontal} - #{$border-width})
        calc(#{$padding-vertical} - #{$border-width});
    }

    &[disabled],
    &[disabled]:hover {
      background-color: $ecl-color-blue-25;
      border-color: $ecl-color-blue-25;
      color: $ecl-color-white-100;
    }
  }

  /*
   * Secondary
   */
  .ecl-button--secondary {
    background-color: #fff;
    border: $border-width solid $ecl-color-primary;
    color: $ecl-color-primary;
    padding: calc(#{$padding-horizontal} - #{$border-width})
      calc(#{$padding-vertical} - #{$border-width});

    &:hover,
    &:active {
      background-color: $ecl-color-primary;
      border-width: 0;
      color: #fff;
      padding: $padding-horizontal $padding-vertical;
    }

    &:focus {
      background-color: $ecl-color-primary;
      color: #fff;
    }

    &[disabled],
    &[disabled]:hover {
      background-color: $ecl-color-white-100;
      border-color: $ecl-color-blue-25;
      border-width: $border-width;
      color: $ecl-color-blue-25;
      padding: calc(#{$padding-horizontal} - #{$border-width})
        calc(#{$padding-vertical} - #{$border-width});
    }
  }

  /*
   * Ghost
   */
  .ecl-button--ghost {
    color: $ecl-color-primary;

    &[disabled],
    &[disabled]:hover {
      color: $ecl-color-blue-25;
    }
  }

  /*
   * Call to action
   */
  .ecl-button--call {
    background-color: $ecl-color-secondary;
    color: #000;

    &:hover,
    &:active {
      border: $border-width solid $ecl-color-black-100;
      padding: calc(#{$padding-horizontal} - #{$border-width})
        calc(#{$padding-vertical} - #{$border-width});
    }

    &:focus {
      outline-color: #000;
    }

    &[disabled],
    &[disabled]:hover {
      background-color: $ecl-color-yellow-25;
      border-color: $ecl-color-yellow-25;
      color: $ecl-color-grey-50;
    }
  }

  /*
   * Search
   */
  .ecl-button--search {
    background-color: $ecl-color-tertiary;
    color: $ecl-color-primary;

    &:hover,
    &:active,
    &:focus {
      color: $ecl-color-text;
    }

    &[disabled],
    &[disabled]:hover {
      background-color: $ecl-color-grey-5;
      color: $ecl-color-grey-50;
    }
  }
}

// Use mixin
@include exports('eu-component-button') {
  @include ecl-button();
}
