/**
 * Gallery
 * @define gallery; weak
 */

// Import base
@import '@ecl/ec-base/ec-base';

@mixin ecl-gallery(
  $image-height: 185px,
  $description-background: $ecl-color-grey-100,
  $description-color: $ecl-color-white-100
) {
  .ecl-gallery {
    margin: 0;
  }

  .ecl-gallery__list {
    display: block;
    list-style: none;
    margin-top: -($ecl-spacing-xs);
    padding-left: 0;
  }

  .ecl-gallery__item {
    display: block;
    margin-bottom: 0;
    margin-top: $ecl-spacing-xs;
  }

  .ecl-gallery__item-link {
    text-decoration: none;
  }

  .ecl-gallery__image-container {
    background-color: $ecl-color-black-100;
    flex-grow: 1;
    margin: 0;
  }

  .ecl-gallery__item-link:focus {
    outline: none;

    .ecl-gallery__image-container {
      outline: 3px solid $ecl-color-yellow-100;
      outline-offset: -3px;
    }
  }

  @supports (object-fit: cover) {
    .ecl-gallery__image-container {
      background-color: transparent;
    }
  }

  .ecl-gallery__image {
    display: block;
    flex-grow: 0;
    width: 100%;
  }

  @supports (object-fit: cover) {
    .ecl-gallery__image {
      flex-grow: 1;
      object-fit: cover;
    }
  }

  .ecl-gallery__image-icon {
    display: none;
  }

  .ecl-gallery__description {
    background-color: $description-background;
    color: $description-color;
    display: flex;
    font: $ecl-font-m;
    justify-content: space-between;
    padding: $ecl-spacing-s;
    text-decoration: none;
    width: calc(100% - (#{$ecl-spacing-s} * 2));
  }

  .ecl-gallery__description-icon {
    flex-shrink: 0;
  }

  .ecl-gallery__meta {
    height: 1px;
    left: -10000px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px;
  }

  /* stylelint-disable-next-line order/order */
  @include ecl-media-breakpoint-up('md') {
    .ecl-gallery__list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-left: -($ecl-spacing-xs);
    }

    .ecl-gallery__item {
      flex-grow: 1;
      height: $image-height;
      margin-left: $ecl-spacing-xs;
      min-width: $image-height;
      position: relative;
    }

    .ecl-gallery__image-container {
      display: flex;
      position: relative;
    }

    .ecl-gallery__image {
      height: $image-height;
      margin: 0 auto;
      width: auto;
    }

    .ecl-gallery__image-icon {
      background-color: $description-background;
      bottom: 0;
      display: block;
      fill: $description-color;
      padding: $ecl-spacing-s;
      position: absolute;
      right: 0;
    }

    .ecl-gallery__description {
      bottom: 0;
      display: none;
      left: 0;
      max-height: $image-height;
      padding: $ecl-spacing-xs;
      position: absolute;
      width: calc(100% - (#{$ecl-spacing-xs} * 2));
    }

    .ecl-gallery__description-icon {
      height: $ecl-icon-m;
      width: $ecl-icon-m;
    }

    .ecl-gallery__item:hover {
      .ecl-gallery__description {
        display: flex;
      }

      .ecl-gallery__image-icon {
        display: none;
      }
    }
  }
}

/*
 * Overlay
 */
@mixin ecl-gallery-overlay(
  $overlay-background: $ecl-color-black-100,
  $overlay-z-index: 20,
  $detail-background: $ecl-color-grey-100,
  $detail-color: $ecl-color-white-100
) {
  .ecl-gallery__overlay {
    background-color: $overlay-background;
    border-width: 0;
    display: none;
    flex-direction: column;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: $overlay-z-index;
  }

  .ecl-gallery__overlay[open] {
    display: flex;
  }

  .ecl-gallery__close {
    background-color: $detail-background;
    display: flex;
    flex-shrink: 0;
    justify-content: flex-end;
  }

  .ecl-gallery__close-button {
    color: $detail-color;
    font-weight: $ecl-font-weight-regular;
  }

  .ecl-gallery__slider {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
  }

  .ecl-gallery__slider-image-container {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }

  .ecl-gallery__slider-image {
    display: flex;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    height: auto;
    margin: 0;
    max-width: 100%;
    object-fit: contain;
  }

  .ecl-gallery__slider-previous {
    align-self: flex-start;
    color: $detail-color;
    flex-shrink: 0;
  }

  .ecl-gallery__slider-next {
    align-self: flex-end;
    bottom: 0;
    color: $detail-color;
    flex-shrink: 0;
    position: absolute;
    right: 0;
  }

  .ecl-gallery__detail {
    background-color: $detail-background;
    color: $detail-color;
    flex-shrink: 0;
    padding: $ecl-spacing-m;
  }

  .ecl-gallery__detail-counter {
    font: $ecl-font-s;
  }

  .ecl-gallery__detail-actions {
    font: $ecl-font-s;
    margin-top: $ecl-spacing-m;
  }
  .ecl-gallery__share {
    margin-left: $ecl-spacing-s;
  }
  .ecl-gallery__download,
  .ecl-gallery__share {
    color: $detail-color;

    &:hover,
    &:focus {
      color: $detail-color;
    }
  }

  .ecl-gallery__detail-description {
    font: $ecl-font-m;
    margin-top: $ecl-spacing-s;
  }
  .ecl-gallery__overlay .ecl-gallery__description-icon {
    display: none;
  }

  .ecl-gallery__detail-meta {
    font: $ecl-font-s;
    margin-top: $ecl-spacing-m;
  }

  /* stylelint-disable-next-line order/order */
  @include ecl-media-breakpoint-up('md') {
    .ecl-gallery__slider {
      flex-direction: row;
      justify-content: space-between;
    }

    .ecl-gallery__slider-image-container {
      flex-grow: 0;
    }

    .ecl-gallery__slider-previous {
      align-self: initial;
      margin-left: $ecl-spacing-xl - $ecl-spacing-s;
      order: -1;
    }
    .ecl-gallery__slider-previous .ecl-button__label {
      display: none;
    }
    .ecl-gallery__slider-previous .ecl-button__icon {
      margin-right: 0;
    }

    .ecl-gallery__slider-next {
      align-self: initial;
      bottom: auto;
      margin-right: $ecl-spacing-xl - $ecl-spacing-s;
      position: relative;
      right: auto;
    }
    .ecl-gallery__slider-next .ecl-button__label {
      display: none;
    }
    .ecl-gallery__slider-next .ecl-button__icon {
      margin-left: 0;
    }
  }
}

// Use mixin
@include exports('ec-component-gallery') {
  @include ecl-gallery();
  @include ecl-gallery-overlay();
}
